@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
/* this is a single line/mutiple line comments in CSS */
p {
    font-size: 1em;
    line-height: 1.5em;
}

figcaption {
    font: normal 1em/1.5em Georgia, serif;
    color: grey;
    text-align: justify;;
}

.logo{
    font-family: "Modern Antiqua", cursive;
}
