@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
/* this is a single line/mutiple line comments in CSS */
p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: Abel;
}

figcaption {
    font: normal 1em/1.5em Georgia, serif;
    color: grey;
    text-align: justify;;
}

#logo{
    font-family: "Modern Antiqua", cursive;
    font-weight: bold;
    text-align: center;
}

.milk-text{
    font: "elsie swash caps", cursive bold;
}

#logo h2{
    color: blue;
}
